select {
    background-color: #BC4749;
    color: #F2E8CF;
    height: 30px;
    border-color: #F2E8CF;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}


