select {
    background-color: #F2E8CF;
    color: #386641;
    height: 30px;
    border-color: #386641;
    border-radius: 5px;
    width: 100%;
    height: 20;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.imageList {
    padding: 5px;
}


