<span *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="contain">
    <div></div>
    <br><br>
    <div class="main-text">
        <br>
        <mat-form-field>
            <mat-label for="username">Felhasználónév: </mat-label>
            <input matInput size="25" type="text" [formControl]="username"/>
        </mat-form-field>
        <div class="break"></div><br>
        <mat-form-field>
            <mat-label for="password">Jelszó: </mat-label>
            <input matInput size="25" type="password" [formControl]="password"/>
        </mat-form-field>
        <div class="break"></div><br>
        <span>
            <span><button mat-raised-button color="primary" (click)="login()">Bejelentkezés</button></span>
            <span><button mat-raised-button color="primary" [routerLink]="'/signup'">Regisztráció</button></span>
        </span>
        <br>
    </div>
    
</div>