.main_component{
    height: 100vh;
}

.mat-toolbar.mat-primary {
    background: #BC4749;
}

a{
    text-decoration: none;
    color: #F2E8CF;
}

a:hover, a:active{
    color: #A7C957;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}