<div>
    <h1>Magyarország első túra foglaló oldala</h1>
</div>
<div>
    <p>Természetjárók, csatlakozzatok hozzánk, és merüljetek el Magyarország lenyűgöző tájainak felfedezésében! Fedezzük fel együtt a hegyek csendjét, az erdők titkait és a patakok csobogását. Élvezd a természet varázsát, miközben új barátokra találsz a túrázás során. Családias légkörben járjuk be az ország legszebb túraútvonalait, és élvezzük a közösség által nyújtott támogatást és örömöt. Csapatunk vár rád, hogy együtt hozzuk ki a legtöbbet a természet adta lehetőségekből és élvezzük a túrázás minden pillanatát!</p>
</div>
<div>
    <img src="../../assets/main_pic.jpg" alt="main_pic">
</div>
